@media only screen and (max-device-width: 480px) {
  .not-mobile { display: none; }
  .mobile-only { display: block; }
  p { -webkit-text-size-adjust: none; }

  .wrapper { width: auto; }
  .contents { width: auto; padding: 0px; float: none; }
  #sidebar { display: none; }
  section.panel, .footer { padding: 0 25px; width: auto; }
  .profile-pic { float: none; text-align: center; }
  .profile-pic img { margin-bottom: 20px; }
  .header { width: 100%; padding-top: 30px; }
  .header header { float: none; margin: auto; width: 215px; }
  .header header p { width: auto; }

  .panel.employment, .panel.education, .panel.projects, .panel.contact {
      display: block !important;
      margin-top: 35px;
      margin-bottom: 0;
      padding-bottom: 1px;
  }
  .panel.employment { margin-top: 40px; }
  .panel.education ul { margin-bottom: 10px; }
  .panel.contact { width: auto; height: auto; padding-bottom: 0; }
  .panel.contact h3 { display: none; }
  .panel.contact h4 { font-size: 26px; }
  .split-col-left { width: auto; float: none; }
  .split-col-right { display: none; }

  hgroup { float: none; margin: auto; width: auto; }
  hgroup h1 { margin-top: 0; }
  hgroup h2 { margin-bottom: 25px; }
  hgroup h1, hgroup h2 { text-align: center; }

  h3.title_employment { display: none; }
  .panel.employment .divider { display: none; }
  .panel h3 { margin-top: 5px; text-align: left; font-size: 26px; }
}
